header {
    background-color: var(--dark-cyan);
    margin-bottom: 100px;
  }
  .nav-wrapper {
    padding: 15px 10px;
  }
  header nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }
  header nav ul li {
    margin-left: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-size: large;
  }
  nav ul li a:hover {
    color: tomato;
  } 
  /* --- Header end--- */

  body{
    background: black;
  }
  .box {
    /* width: 100px; */
    padding: 40px;
    background: var(--dark-cyan);
  }
  .wrapper {
    display: grid;
    grid-template-rows: 1fr 1.2fr;
    grid-gap: 10px;
    width: 80vw;
    margin: 20px auto;

  }
  .row-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
  }
  .row-2 {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1.2fr;
  }
  .sub-row {
    display: grid;
    grid-template-rows: 0.8fr 1.2fr;
    grid-gap: 10px;
  }
  .a {
    background: brown;
  }
  .b {
    background: orange; 
  }
  .c {
    background: green;
  }
  .d {
    background: skyblue;
  }
  .e {
    background: skyblue;
  }

  