
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
/* font-family: 'Lexend Deca', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
/* font-family: 'Big Shoulders Display', cursive; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
/* Primary */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);

    /* (background, headings, buttons) */
    /* neutral */
    --Transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);
  }
  body{
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
  }
  
  /* --- Header start---*/
  header {
    background-color: var(--dark-cyan);
    margin-bottom: 100px;
  }
  .nav-wrapper {
    padding: 15px 10px;
  }
  header nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }
  header nav ul li {
    margin-left: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-size: large;
  }
  nav ul li a:hover {
    color: tomato;
  }
  /* --- Header end---*/


  .container {
    width: 80vw;
    margin: 20px auto;
    border-radius: 5px;

  }
  .d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
  }
  @media (max-width:650px) {
    .d-flex {
      flex-direction: column;

    }
  }

  .sedan, .suv, .luxury {
    padding: 20px;
  }
  .sedan {
    background: var(--bright-orange);
  }
  .suv {
    background: var(--dark-cyan);
  }
  .luxury {
    background: var(--Very-dark-cyan);
  }
  p {
    color: var(--Transparent-white-paragraphs);
    margin-bottom: 20px;
  }
  h1 {
    color: var(--Very-light-gray);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 30px;
  }
  figure, h1 {
    margin-bottom: 20px;
  }
  .m-t {
    margin-top: 50px;
  }
  button {
    padding: 10px 20px;
    border-radius: 25px;
    background: var(--Very-light-gray);
    cursor: pointer;
  }
  #sedan-btn {
    border: solid var(--Very-light-gray);
    background-color: var(--Very-light-gray);
    color: var(--bright-orange);
  }
  #sedan-btn:hover {
    background-color: var(--bright-orange);
    color: var(--Very-light-gray);
    border: solid var(--Very-light-gray);
  }

  #suv-btn {
    border: solid var(--Very-light-gray);
    background-color: var(--Very-light-gray);
    color: var(--dark-cyan);
  }
  #suv-btn:hover {
    background-color: var(--dark-cyan);
    color: var(--Very-light-gray);
    border: solid var(--Very-light-gray);
  }

  #luxury-btn {
    border: solid var(--Very-light-gray);
    background-color: var(--Very-light-gray);
    color: var(--Very-dark-cyan)
  }
  #luxury-btn:hover {
    background-color: var(--very-dark-cyan);
    color: var(--Very-light-gray);
    border: solid var(--Very-light-gray);
  }